<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>713594419973-ffdf581cs706chcttecjg0shohgfth6l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.713594419973-ffdf581cs706chcttecjg0shohgfth6l</string>
	<key>API_KEY</key>
	<string>AIzaSyBO3AOYxvkzp-wnLj-x9AQDiwepCzGr4UE</string>
	<key>GCM_SENDER_ID</key>
	<string>713594419973</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.tomokazu.takahashi.MatchingApp</string>
	<key>PROJECT_ID</key>
	<string>matchingapp-b76e6</string>
	<key>STORAGE_BUCKET</key>
	<string>matchingapp-b76e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:713594419973:ios:c0bd23d161e34d0c91556c</string>
</dict>
</plist>